extends layout.pug

block contentSrc
    link(href="/css/cadastro.css" rel="stylesheet")

block content
    div(id="formCadastro")
        h2 Cadastro de Modelos
        form(action="/add/modelo" method="POST" id="cadastro")
            div(id="wrapCampos")
                div(class="campo")  
                    label(for="user") Usuário
                    input(id="user" name="user" type="text" disabled="disabled" value=usuario)
                div(class="campo")
                    label(for="montadora") Montadora
                    select(id="montadora" name="montadora")
                        each v in montadoras
                            option(value=v.id) #{v.nome}     
                each v in campos
                    div(class="campo")
                        label(for=v.id) #{v.texto}
                        input(id=v.id name=v.id type="text" autocomplete="off")
            button(class="enviar" id="submeter") Cadastrar
    script(src="/script/cadastroModelo.js")